# 依存関係
node_modules/
.node-gyp/

# ログ
npm-debug.log*
yarn-error.log
yarn-debug.log

# 環境変数ファイル（消すな）
.env
# 環境変数ファイルはすべて無視(これも消すな)
.env*
!.env.example
#.env.exampleは通っていい

# 自動生成されるファイル
project-structure.txt

# OSが生成するシステムファイル
.DS_Store
Thumbs.db

# ローカルファイル
.vscode/

# Glitch時代の遺物（念のため）
.data/
.glitch-assets
.glitchdotcom.json